
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&display=swap');

:root{
    --fonte-titulo:'Bebas Neue';
    --fonte-texto: 'Dancing Script';
    --cor-principal: #0A192F;
    --cor-secundaria: #CCD6F6;
    --cor-destaque: #4A89DC;
    --cor-texto: #ffffff;

}
body{
    background-color: var(--cor-principal);
    color: var(--cor-texto);
    font-family: var(--fonte-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}
h1, .caixa-perguntas, .caixa-resultados{
    font-family: var(--fonte-titulo);
}
h1{
    color: var(--cor-destaque);
}
button{
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: backgrounde-color 0.3s;
}
button :hover {
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}
.caixa-resultados{
    display: none;
}
.caixa-resultados.mostrar{
    display: block;
}
.caixa-alternativas{
    display: flex;
    flex-direction: column;
    gap: 10px;
}